.unique-story {
  margin-top: 20px;
}
.unique-story button {
  background-color: #000;
  color: #fff;
  letter-spacing: .25em;
  line-height: 110%;
  padding: 20px 26px;
  font-size: 18px;
  font-weight: bold;
}

.unique-story1 {
  margin-top: 0;
}
.unique-story1 button {
  background-color: #000;
  color: #fff;
  letter-spacing: .25em;
  line-height: 110%;
  padding: 20px 26px;
  font-size: 18px;
  font-weight: bold;
  border: none;
}
